#pm{
  background: #2b2b2b;
  padding-top: 1rem;
  overflow: auto;
  height: calc(100vh - 16rem);
  font: "opensans-bold", sans-serif;
}

#pm .main-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

#pm .move{
  align-items: center;
  margin-top: 1rem auto;
  /* padding: 2% 10% 10% 10%; */
  padding: 2% auto 10% 10%;
}

#pm .flex {
  display: flex;
  flex-direction: row;
}

#pm h2 {
  font: 23px/30px 'opensans-bold', sans-serif;
  background-image: radial-gradient(circle, rgba(178,103,235,1) 11%, rgba(72,221,209,1) 100%); 
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  margin: 1rem auto;
}

#pm h4 {
  background-image: radial-gradient(circle, rgba(178, 103, 235, 1) 21%, rgba(72, 221, 209, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  margin: 1rem auto;
}

#pm li {
  list-style: none;
  font: 16px/30px "opensans-bold", sans-serif;
  /* background: #26ebf17a; */
  background: #636363;
  color: #fff;
  margin: 0 1rem 1rem 0;
  text-align: center;
  border-radius: 15px;
  width: 300px;
  padding: 20px;
  /* -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  
     -moz-border-radius: 3px;
     -webkit-border-radius: 3px;
     -khtml-border-radius: 3px; */
}

#pm li:hover {
  /* background: #3d4145; */
  background: #48ddd1;
  color: #fff;
}

#pm .main-col {
  width: auto;
  margin: 1rem;
}

#pm .button {
  margin-top: 6px;
  background: #444;
}
#pm .button:hover {
  background: #fff;
  color: #2b2b2b;
}
#pm .button i {
  margin-right: 15px;
  font-size: 20px;
}

@media only screen and (max-width: 1200px) {
  #pm {
    padding-top: 3rem;
  }

  #pm h2 {
    margin-left: 40%;
  }

  #pm li {
    width: 250px;
    margin: 0 0 18px 10px;
  }

}

@media only screen and (max-width: 850px) {

  #pm {
    padding-top: 1rem;
  }

  #pm .main-row {
    flex-direction: row;
    align-items: center;
  }
  #pm .main-col{
    margin: 2rem auto;
  }

  #pm .flex {
    display: flex;
    flex-direction: row;
  }

  #pm h2 {
    margin: 1rem auto;
  }

  #pm .move{
  align-items: center;
  margin-top: 1rem auto;
  padding: 2% auto 10% 70%;
  }

  #pm li {
    margin: 0 0 18px 10px;
  }
}

@media only screen and (max-width: 675px) {
    #pm {
    padding: 1rem;
  }

  #pm .flex {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
  }

  #pm .main-col{
    margin: 2rem auto;
  }

  #pm .move{
  align-items: center;
  margin-top: 1rem auto;
  padding: 2% auto 10% 20%;
}

  #pm li {
    width: 270px;
  }
}
