#skills {
    background: #2B2B2B;
    padding-top: 1rem;
    overflow: auto;
    height: calc(100vh - 12rem);
  }

  #skills .main-row{
    flex-direction: row;
  }

  #skills .flex{
    display: flex;
    flex-direction: row;
  }

  #skills h2 {
    font: 22px/30px 'opensans-bold', sans-serif;
    color: #48ddd1;
    /* TODO COLOR TO THE ABOUT TITLES */
    margin-bottom: 12px 0 12px 0;
    /* background-image: radial-gradient(circle, rgba(52,52,52,1) 0%, rgba(178,103,235,1) 51%, rgba(72,221,209,1) 100%); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent; */
  }

  #skills h4{
    background-image: radial-gradient(circle, rgba(52,52,52,1) 0%, rgba(178,103,235,1) 51%, rgba(72,221,209,1) 100%); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    margin: 22px 0 22px 0;
    padding-left: 42px;
  }

  #skills li{
    list-style: none;
    font: 16px/30px 'opensans-bold', sans-serif;
    /* background: #26ebf17a; */
    background: #636363;;
    color: #fff;
    padding: 5px;
    margin: 0 1rem 1rem 0;
    height: auto;
    text-align: center;
    border-radius: 15px;
    width: 150px;

    /* -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  
     -moz-border-radius: 3px;
     -webkit-border-radius: 3px;
     -khtml-border-radius: 3px; */
  }

  #skills li:hover {
    /* background: #3d4145; */
    background: #48ddd1;
    color: #fff;
 }
  
  #skills .main-col { 
    /* padding-right: 5%;  */
    width: 90%;
    margin: 0 auto;
    text-align: justify;
  }
  
  #skills .download .button {
    margin-top: 6px;
    background: #444;
  }
  #skills .download .button:hover {
    background: #fff;
    color: #2B2B2B;
  }
  #skills .download .button i {
    margin-right: 15px;
    font-size: 20px;
  }
  
  #skills .main-row{
    display: flex;
    flex-direction: column;
  }

  @media only screen and (max-width: 640px) {

    #skills .flex{
      display: flex;
      flex-direction: column;
      margin-left: 28px;
    }

    #skills li {
      width: 270px;
    }
  }

  @media only screen and (min-width: 800px) {
    #skills .main-row{
      flex-direction: row;
    }
    #skills {
      padding-top: 96px;
    }
    #skills .flex{
      display: flex;
      flex-direction: row;
    }
    #skills li{
      margin: 0 0 18px 10px;
      width: 200px;
      padding: 20px;
    }
  }

  @media only screen and (min-width: 1000px){

    #skills .main-col{
      /* width: auto; */
    }

    #skills li{
      width: 300px;
      margin: 0 0 18px 10px;
    }
  }